@font-face {
    font-family: "font-1";
    src: url(./assets/font_mist.ttf);
}
@font-face {
    font-family: "font-2";
    src: url(./assets/Sylfaen.ttf);
}
:root {
    --titre1: #800020;
    --titre2: #b71111;
    --titre3: #ff0000;
    --texte: #000000;
    --fond1: #6d071a;
    --fond2: #d3163a;
    --fond3: #87404e;
    --fond4: #d62e4f;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "font-2";
}
body {
    background-color: var(--texte);
}

.liens {
    z-index: 1;
    background: var(--fond3);
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.308);
    border-radius: 5px;
    backdrop-filter: blur(50px);
    width: 100vw;
    height: 8vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    font-size: 3vh;
    opacity: 0.85;
    transition: 0.2s;
}
.liens:hover {
    opacity: 1;
    transition: 0.2s;
}
.liens a {
    padding: 2vh;
    transition: all 0.2s linear;
    text-decoration: none;
    font-family: "font-1";
    color: var(--texte);
}
.liens a:hover,
.liens a:visited:hover {
    background-color: var(--fond1);
    color: var(--titre3);
    text-transform: capitalize;
    transition: 0.2s;
    /* transform: scale(1.2); */
}

.content {
    background-color: var(--fond1);
    width: 80vw;
    margin-left: 10vw;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.308);
    border-radius: 5px;
    backdrop-filter: blur(50px);
    margin-bottom: 5vh;
}
.mist {
    width: 50%;
    margin-top: 12vh;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 7vh;
}

.intro {
    width: 85%;
    margin-left: 7.5%;
    margin-top: 4%;
    padding: 2%;
    background: rgba(255, 255, 255, 0.308);
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.308);
    border-radius: 5px;
    backdrop-filter: blur(50px);
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 10vh;
}
.personne {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
}
.pres_txt {
    width: 40%;
    margin-left: 7.5%;
    backdrop-filter: blur(50px);
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pres_img {
    display: block;
    width: 40%;
    margin-left: 5%;
}
.un {
    background: rgba(255, 255, 255, 0.308);
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.308);
    border-radius: 5px;
    padding: 3%;
    font-size: 1.5rem;
}
.deux {
    background: rgba(255, 255, 255, 0.308);
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.308);
    border-radius: 5px;
    margin-top: 5%;
    padding: 3%;
    font-size: 1.3rem;
}
.pres_img img {
    width: 100%;
}
#tom:hover,
#tom:visited:hover {
    color: var(--titre2);
}
#tom:visited {
    color: var(--texte);
}

.RS {
    display: flex;
    justify-content: space-around;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10%;
}
.RS a {
    transition: 0.2s;
}
.RS :hover {
    transform: scale(1.2);
}
